@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* Shared Style */
.orange {
  color: #fea301;
}
.skyblue {
  color: #01acfd;
}
.black {
  color: #111111;
}
.white {
  color: #f7f7f7;
}
.aqua {
  color: rgba(5, 212, 223, 1);
}
.purple {
  color: rgba(93, 88, 239, 1);
}
.title {
  font-family: "Quicksand", serif;
  font-weight: bold;
  font-size: 2.87rem;
  color: #000;
}
.subtitle {
  font-family: "Quicksand", serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}
.p {
  font-family: "Raleway", serif;
  font-size: 1rem;
  color: #808080;
  font-weight: 500;
}
.bg-skyblue {
  background-image: linear-gradient(#def5ff, #ffffff);
  box-shadow: 5px 5px 20px #def5ff;
}
.bg-orange {
  background-image: linear-gradient(#fff4dc, #ffffff);
  box-shadow: 5px 5px 20px #fff4dc;
}
.bg-purple {
  background-image: linear-gradient(#f2e8ff, #ffffff);
  box-shadow: 5px 5px 20px #f2e8ff;
}
/* Navbar style */
nav {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  padding: 20px 141px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.logo img {
  width: 100%;
}
.logo h3 {
  font-family: "Quicksand", serif;
  font-weight: bold;
  font-size: 2rem;
}
.nav-menu {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: quick;
}
.nav-menu a {
  font-family: "Quicksand", serif;
  text-decoration: none;
}
.nav-btn {
  font-family: "Quicksand", serif;
  display: flex;
  background-color: orange;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px 60px;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.nav-hamburger {
  display: none;
}
/* Banner Scetion style */
.banner {
  background-color: #f7f7f7;
  padding: 0 141px 60px;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.banner-content {
  width: 640px;
}
.banner-title {
  font-family: "Quicksand", serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.banner-description {
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
}
.banner-btn {
  background-color: #111111;
  color: #fff;
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 47px;
  border: none;
  border-radius: 12px;
  margin-top: 24px;
}
.banner-btn:hover {
  background-color: #bee7fa;
  color: #01acfd;
  transition: ease-in-out 0.5s;
}

/* Standard section style */
.standard {
  background-color: #f7f7f7;
  background-image: url(images/bg.png);
  padding-bottom: 20px;
}
.standard-title {
  text-align: center;
}
.standard-cards {
  display: grid;
  gap: 28px;
  margin: 80px 140px 0;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 80px;
}
.standerd-card-1 {
  border: none;
  border-radius: 18.86px;
  width: 367.8px;
  height: 476.78px;
  width: 367.8px;
  height: 476.78px;
}
.standerd-card-1 img {
  padding: 52px 115px 32px;
}
.standerd-card-title {
  text-align: center;
  margin-bottom: 33px;
  font-family: "Quicksand", serif;
}
.standard-description {
  padding: 0 40px;
  text-align: center;
  margin-bottom: 33px;
  font-family: "Raleway", serif;
}
.read-more-1 {
  margin: 0 140px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
}
.arrow {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  gap: 10px;
}
.angel {
  background-color: #fea301;
  color: #fff;
  padding: 15px 19px;
  border-radius: 50%;
  font-size: 24px;
}
.angel:hover {
  background-color: #fff;
  color: #fea301;
  transition: ease-in-out 0.5s;
}
/* Footer section design */
footer {
  background-color: #01acfd;
}
.footer-container {
  padding: 123px 140px 174px;
  display: flex;
  justify-content: space-around;
  color: #fff;
}
.footer-logo {
  display: flex;
  width: 300px;
  padding-bottom: 35px;
}
.footer-logo img {
  width: 100%;
}
.footer-logo h3 {
  font-size: 2.62rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
}
.footer-description {
  width: 399.02px;
}
.footer-description p {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Quicksand", serif;
}
.footer-nav h4 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Quicksand", serif;
  padding-bottom: 32px;
}
.nav-links li {
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Quicksand", serif;
  list-style: none;
}
.footer-social-links h4 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Quicksand", serif;
  padding-bottom: 32px;
}
.social-link {
  display: flex;
  gap: 10px;
  padding-bottom: 32px;
}
.footer-social-links h4 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Quicksand", serif;
  padding-bottom: 32px;
}
.social-link li {
  list-style: none;
  display: flex;
}
/* stories section style */
.stories {
  background-image: linear-gradient(to bottom, #f7f7f7, #fea3014f),
    url("images/bg.png");
  padding-bottom: 80px;
}
.stories-title {
  text-align: center;
}
.stories-gallery {
  margin: 80px 140px 0;
  display: flex;
  gap: 19px;
  padding-bottom: 80px;
  justify-content: center;
}
.stories-1 {
  height: 630.52px;
  width: 540.27px;
  background-color: white;
  border-radius: 16px;
}
.stories-1 img {
  border-radius: 16px 16px 0 0;
}
.stories-1-btn {
  background-color: #3cd8e8;
  color: white;
  border-radius: 47.93px;
  font-family: "Raleway", serif;
  border: none;
  font-size: 1rem;
  padding: 14px 19px;
  margin: -29px 38px 33px;
  display: block;
  position: relative;
  z-index: 1;
}

.stories-1 h4 {
  padding: 0 33.45px;
}
.stories-1 p {
  margin: 47px 68px 34px 38px;
}
.stories-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.stories-2 img {
  border-radius: 16px 16px 0 0;
}
.stories-card {
  background-color: #fff;
  border-radius: 16px 16px 16px 16px;
}
.stories-2-btn {
  background-color: #95b226;
  color: white;
  border-radius: 47.93px;
  font-family: "Raleway", serif;
  border: none;
  font-size: 1rem;
  padding: 14px 19px;
  margin: -29px 38px 33px;
  display: block;
  position: relative;
  z-index: 1;
}
.stories-2 p {
  width: 214px;
  padding: 0 38px 28px;
}
.stories-btn {
  background-color: #000;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 12px;
  padding: 10px 61px;
  display: block;
  margin: 0 auto;
}
.stories-btn:hover {
  transition: ease-in-out 0.5s;
  background-color: #f7f7f7;
  color: #000;
}
/* For Small device */
@media screen and (max-width: 576px) {
  .logo h3 {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
    padding: 12px 16px;
    /* margin: 12px 16px; */
  }
  .nav-menu {
    display: none;
  }
  .nav-menu a {
    font-family: "Quicksand", serif;
    text-decoration: none;
    display: none;
  }
  .nav-btn {
    display: none;
  }
  .nav-hamburger {
    display: block;
  }
  i.hamburger {
    display: block;
    align-items: center;
    font-size: 20px;
  }
  .nav-hamburger {
    align-items: center;
  }
  .banner {
    padding: 0px;
  }
  .banner-container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 16px;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 357px;
  }
  .banner-image img {
    width: 90%;
    padding: 10px 20px;
  }
  .banner-title {
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 18px;
    padding: 0 31px;
  }
  .banner-title {
    text-align: center;
  }
  .banner-description {
    padding: 18px 16px;
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 0.87rem;
  }
  .banner-btn {
    width: 177px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 24px 6px;
  }
  .standard-title {
    text-align: center;
    padding: 40px 0;
  }
  .standard-cards {
    display: grid;
    gap: 28px;
    margin: 0px 0;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 100px;
  }
  .arrow {
    display: none;
  }
  .stories-1 {
    display: none;
  }
  .stories-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .stories-card {
    width: 173.35px;
  }
  .stories-card img {
    width: 100%;
  }
  .stories-2-btn {
    padding: 5px 11px;
    margin: -15px 28px 0px;
    font-size: 9px;
  }
  .stories-card p {
    font-size: 9.13px;
    font-weight: bold;
    width: 117.92px;
    padding: 14px 27.5px 20px;
  }
  .footer-container {
    display: grid;
    padding: 65px 16px;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-description {
    padding-bottom: 32px;
    width: 357px;
  }
  .footer-nav {
    padding-bottom: 32px;
  }
}
